<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body">
                        <h2>{{ post.title }}</h2>
                        <p style="font-size: 15px; border-top: 0.5px solid rgb(180, 180, 180); border-bottom: 0.5px solid rgb(180, 180, 180); padding: 5px; text-align: left;">{{ post.description }}</p>
                        <ul class="list-inline item-details" style="font-weight: bold;">
                            <li>기간 :
                                <strong><span>{{ post.project-date }}</span></strong>
                            </li>
                            <li>참여인원 :
                                <strong><span>{{ post.client }}</span></strong>
                            </li>
                            <li>역할 :
                                <strong><span>{{ post.position }}</span></strong>
                            </li>
                            <li>배포 링크 :
                                <strong><a href="{{ post.link }}">{{ post.link }}</a></strong>
                            </li>
                            <li>저장소 :
                                <strong><a href="{{ post.repository }}">{{ post.repository }}</a></strong>
                            </li>
                        </ul>
                        <ul class="list-inline item-details" style="font-weight: bold;">
                            <li>담당 기능 :
                                <strong><span>{{ post.list }}</span></strong>
                            </li>
                        </ul>
                        <ul class="list-inline item-details" style="font-weight: bold;">
                            <li>사용 기술스택 :
                                <strong><span>{{ post.skill }}</span></strong>
                            </li>
                        </ul>
                        <hr class="star-primary">

                        <!-- 이미지들을 감싸는 div 추가 -->
                        <div class="img-container">
                            {% for image in post.images %}
                              <img src="img/portfolio/{{ image }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% endfor %}
                          </div>
                        <!-- <div class="img-container">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered"
                                alt="{{ post.alt }}">
                            <img src="img/portfolio/{{ post.img2 }}" class="img-responsive img-centered"
                                alt="{{ post.alt }}">
                            <img src="img/portfolio/{{ post.img3 }}" class="img-responsive img-centered"
                                alt="{{ post.alt }}">
                            <img src="img/portfolio/{{ post.img4 }}" class="img-responsive img-centered"
                                alt="{{ post.alt }}">
                            <img src="img/portfolio/{{ post.img5 }}" class="img-responsive img-centered"
                                alt="{{ post.alt }}">
                            <img src="img/portfolio/{{ post.img6 }}" class="img-responsive img-centered"
                                alt="{{ post.alt }}">
                        </div> -->

                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times"></i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}